COPY_USER_CONFIGURATION=1
GRAPHIC="gnome"
SET_SPACE_PASSWORD=1
NEW_NONSPACE_PASSWORD="Will be overriden by 1) COPY_USER_CONFIGURATION 2) SET_SPACE_PASSWORD"
DRACUT=0
NETWORKMANAGER=1
LOCALTIME="Europe/Monaco"
NEWHOSTNAME="debianify"
REFLECTOR=0
GRAPHICS_DRIVER="all-open"
SOUND_SERVER="no"
FORCE_REBOOT_AFTER_INSTALLATION=1
DISTRO="debian"
SUITE="bookworm"
MIRROR="http://deb.debian.org/debian/"
DE="none"
